<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <style>

        @media (min-width: 320px) {
            html, body, .holder {
                height: 100%;
            }
        }

        /* thanks http://getbootstrap.com/examples/signin/signin.css  */
        body {
            background-color: #1D1D1D;
        }

        .holder {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-signin {
            max-width: 440px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .well {
            padding: 25px 40px 35px 40px;
        }
        .form-signin .form-signin-heading { margin-top: 0; margin-bottom: 15px; font-weight: normal; font-size: 26px; }

        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .rememberMe {
            margin-bottom: 10px;
        }
        .form-signin label {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
            border: 0;
            border-bottom: 1px solid #ccc;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            margin-top: 5px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .form-signin input[type="checkbox"] {
            margin: 4px 5px 0 0;
        }

        @media (max-width: 480px) {
            .form-signin {
                padding: 0 10px;
            }
            .form-signin .well {
                padding: 15px 20px;
            }
            .form-signin .form-signin-heading {
                font-size: 20px;
            }
        }
    </style>

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="holder">

    <form class="form-signin" action="{{ path('a_login_check') }}" method="post">
        <div class="well">
            <h2 class="form-signin-heading"><i class="fa fa-sign-in"></i> {{ app.translator.trans('admin.forms.login.header')|raw }}</h2>

                {% if error|length > 0 %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
                <label class="sr-only" for="inputUsername">{{ app.translator.trans('admin.forms.login.labels.username') }}</label>
                <input placeholder="{{ app.translator.trans('admin.forms.login.labels.username') }}" class="form-control" id="inputUsername" type="text" name="_username" value="{{ last_username }}" />

                <label class="sr-only" for="inputPassword">{{ app.translator.trans('admin.forms.login.labels.password') }}</label>
                <input placeholder="{{ app.translator.trans('admin.forms.login.labels.password') }}" class="form-control" id="inputPassword" type="password" name="_password" value="" />

                <label for="inputRememberMe" class="rememberMe">
                    <input type="checkbox" id="inputRememberMe" name="_remember_me" value="1" />
                    Remember me?
                </label>

            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ app.translator.trans('admin.forms.login.labels.submit') }}</button>
        </div>
    </form>

</div> <!-- /container -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</body>
</html>